<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Private Data</title>
</head>
<body>
    <h1>Available Users</h1>
    <table>
        <tr>
            <th>User</th>
            <th>Status/Action</th>
        </tr>
        {% for user in dataRequestDict %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                {% if dataRequestDict[user] == None %}
                    <form action="{{ url_for('request_private_data') }}" method="post">
                        <input type="hidden" name="owner_id" value="{{ user.id }}">
                        <button type="submit">Request Private Data</button>
                    </form>
                {% elif dataRequestDict[user].status == 'accepted' %}
                    <form action="{{ 'download_requested_private_data' }}" method="post">
                        <input type="hidden" name="request_id" value="{{ dataRequestDict[user].id }}">
                        <button type="submit">Download Private Data</button>
                    </form>
                {% else %}
                    {{ dataRequestDict[user].status }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
